---
title: This is the homepage!
colors:
 - blue
 - red
 - green
---

    <h1>{{ title }}</h1>
    <p>This is generated.</p>
    <!--<ul>
    {% for color in colors %}
    <li>{{ color }}</li>
    {% endfor %}
    </ul> -->
    <ul>
        {% for entry in collections.entrys %}
            <li><a href="{{ entry.url }}" >{{entry.data.title }}</a></li>
        {% endfor %}
    </ul>
    <ul>
        {% for other in collections.others %}
            <li><a href="{{ other.url }}" >{{other.data.title }}</a></li>
        {% endfor %}
    </ul>
